.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 200px;
}
img {
  width: 240px;
  border-radius: 10%;
}
h2 {
  color: darkblue;
  font-size: medium;
  font-style: italic;
}
